{{> layout/header }}
<div class="container">
  {{> layout/pagination books}}
  <div class="row">
    {{#each books.items}}
    <div class="col-md-4 p-1">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
          <a href="/cbeta/books/{{id}}/" target="_blank">{{title}}</a>
          </h5>
          <p class="card-text">
            {{creator}}<br/>
            {{publisher}}<br/>
            {{published_at}}<br/>
          </p>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  {{> layout/pagination books}}
</div>
{{> layout/footer }}
